@use "../../styles/properties" as *;

.menu {
  flex: 1 0 0%;
  justify-content: flex-end;
  gap: 1.25rem;

  a {
    display: flex;
    color: $font-color-primary;
  }

  [role="button"] {
    display: flex;
    cursor: pointer;
  }

  .icon {
    font-size: 1.5rem;
    font-weight: 800;
  }
}

.post-modal,
.notif-modal,
.profile-modal {
  position: absolute;
  border-radius: 5px;
  background-color: $background-white;
  box-shadow: $background-shadow;
  z-index: 4;

  .modal-header {
    justify-content: center;
    height: 43px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid $border-color-grey;
  }

  .modal-content {
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;

    p {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin: 0;

      font-size: 0.9rem;
    }

    hr {
      width: 100%;
      margin: 0.2rem 0;
      border-top: 0 solid $font-color-footer;
    }

    .icon {
      font-size: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

/* modal styling */
.post-overlay,
.notif-overlay,
.profile-overlay {
  position: fixed;
  inset: 0;
  background-color: transparent;
  z-index: 3;
}

.post-modal {
  inset: 50% auto auto 50%;
  width: 348px; //minmax(348px, 855px)
  height: 390px; //minmax(391px, 898px)
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;

  .modal-content {
    justify-content: center;
    height: calc(100% - 43px);

    p {
      font-size: 1.4rem;
    }

    .icon {
      margin-top: -3rem;
      font-size: 5rem;

      &:hover {
        cursor: auto;
      }
    }
  }
}

.post-overlay {
  background-color: rgba(0, 0, 0, 0.85);
}

.notif-modal {
  inset: 53px 0px 0px calc(100vw - 560px);
  width: 510px;
  height: 240px;

  .modal-content {
    justify-content: center;
    height: 100%;

    .icon {
      font-size: 5rem;

      &:hover {
        cursor: auto;
      }
    }
  }
}

.profile-modal {
  inset: 53px 0px 0px calc(100vw - 260px);
  width: 230px;
  height: 212px;

  .modal-content {
    align-items: normal;
    gap: 0;
    padding: 0;

    p {
      color: $font-color-primary;
      padding: 0.6rem 1rem;

      &:hover {
        cursor: pointer;
        background-color: $background-grey;
      }
    }
  }
}

@media (max-width: 320px) {
  .menu {
    flex: 0 0 0%;
    justify-content: center;
    gap: 0.5rem;
  }
}
