@use "properties" as *;

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;

  .user {
    .user-name {
      margin-right: 0.3rem;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .heart-icon {
    font-size: 0.85rem;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: $font-color-secondary;
    }
  }
}