.menu {
  flex: 1 0 0%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.25rem;

  .icon {
    font-size: 1.5rem;
    font-weight: 800;

    &:nth-child(4) {
      font-size: 1.35rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .profileIcon {
    margin-top: -3px;
  }
}
