.home-wrapper {
  justify-content: center;
  flex-direction: row;
  gap: 1.6rem;
  max-width: 935px;
  margin: 0 auto;
  margin-top: 5rem;

  .content {
    flex-direction: column;
    gap: 1.6rem;
    max-width: 600px;
  }

  .sidebar {
    position: sticky;
    top: 6.5rem;
    max-width: 300px;
  }
}
