@use "../../styles/properties" as *;

.comment-container {
  display: flex;
  align-items: center;
  font-size: 0.9rem;

  > * {
    width: max-content;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .user {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-wrap: break-word;

    .user-name {
      margin-right: 0.3rem;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .comment-controls {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin-block-start: 0.5rem;
      font-size: 0.8rem;
      color: $font-color-secondary;

      p {
        margin: 0;
      }

      .span {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-weight: 600;

        > * {
          cursor: pointer;
        }
      }
    }
  }

  .user-icon {
    margin-right: 0.5rem;
  }

  .align-icon-start {
    align-self: flex-start;
  }

  .heart-icon {
    font-size: 0.85rem;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: $font-color-secondary;
    }
  }
}
